@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

.Title {
  .h1 {
    font-family: "Pokemon Solid", sans-serif;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }
}
